@import "variables.scss";
@import "mixins.scss";

/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: $color-one;

* {
  font-family: $font-one;
}

// login form

header {
  margin-top: -7em;

  h1 {
    position: absolute;
    font-size: 55px;
  }
}


body {
  background: $primary-background;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.validation-form {
  width: 55%;
  height: 28em;
  background: $color-five;
  padding-left: 10px;
  box-shadow: -8px 8px $color-two;

  p {
    font-size: 150%;
  }

  button {
    width: 61%;
    height: 10%;
    margin-top: 10px;
    background-color: $color-two;
    border: none;
    text-align: left;
    color: $color-five;
    font-size: 1.75em;

    &:hover {
      cursor: pointer;
      background-color: $color-three;
    }
  }

  input {
    width: 60%;
    height: 10%;
    margin-top: 2px;
    font-size: 1.65em;
  }

  .error-message {
    margin-top: 11%;
  }
}

.hidden {
  display: none;
}

// traveler dashboard

.traveler-header {
  font-size: 55px;
  display: block;

  span {
    color: $color-two
  }
}

.traveler-buttons {
    width: 61%;
    height: 10%;
    margin-top: 10px;
    background-color: $color-two;
    border: none;
    text-align: left;
    color: $color-five;
    font-size: 1.75em;

    &:hover {
      cursor: pointer;
      background-color: $color-three;
  }
}
